@font-face {
  font-family: WildernessTypeface-Regular;
  src: url("../font/WildernessTypeface-Regular.ttf");
}
@font-face {
  font-family: inklipquid;
  src: url("../font/inklipquid.ttf");
}
html {
  font-size: 1vw;
  overflow-x: hidden;
  color: white;
}
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  color: white;
}
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  font-family: WildernessTypeface-Regular;
}
.menu h1 a {
  font-size: 3.2rem;
  padding-left: 2em;
  color: inherit;
  text-decoration: none;
}
.menu_content {
  display: flex;
  margin-top: 1.2em;
}
.menu_content li {
  padding-right: 4em;
  font-weight: 500;
}
.menu_content li a {
  text-decoration: none;
  font-size: 3.2rem;
  color: inherit;
}
.menu_content li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* -------------------------------------- */
.pointWrap {
  position: fixed;
  right: 12%;
  top: 28%;
  z-index: 100;
  display: none;
}
.pointWrap.appear {
  display: block;
}
.pointWrap li {
  list-style: none;
  width: 1.8vw;
  height: 1.8vw;
  margin-top: 2.6vw;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  transition: background 0.3s ease-out;
}

.pointWrap li.active {
  background-color: rgb(210, 84, 84);
}

/* ---------------------------------------- */
section {
  height: 100vh;
}
.section-0,
.section-1{
  background-color: black;
}
.section-0 .text-0 {
  position: relative;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: WildernessTypeface-Regular;
  font-size: 300px;
  letter-spacing: -1.3vw;
  width: 40%;
  color: white;
}
.section-0 .text-0 span {
  opacity: 0;
}
.section-0 .text-0 span:nth-child(1) {
  animation: represent 1.2s ease-out alternate forwards;
}
.section-0 .text-0 span:nth-child(2) {
  animation: represent 1.2s ease-out 0.1s alternate forwards;
}
.section-0 .text-0 span:nth-child(3) {
  animation: represent 1.2s ease-out 0.2s alternate forwards;
}
.section-0 .text-0 span:nth-child(4) {
  animation: represent 1.2s ease-out 0.3s alternate forwards;
}
.section-0 .text-0 span:nth-child(5) {
  animation: represent 1.2s ease-out 0.4s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(1) {
  animation: represent 1.2s ease-out 0.5s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(2) {
  animation: represent 1.2s ease-out 0.6s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(3) {
  animation: represent 1.2s ease-out 0.7s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(4) {
  animation: represent 1.2s ease-out 0.8s alternate forwards;
}
.section-0 .text-0 .under span:nth-child(5) {
  animation: represent 1.2s ease-out 0.9s alternate forwards;
}

@keyframes represent {
  to {
    opacity: 1;
  }
}

.section-0 .text-0 .under {
  position: absolute;
  top: 50%;
  left: 45%;
  width: 100%;
}

/* --------------------------------------- */
.section-1 {
  position: relative;
  color: white;
  height: 120vh;
}
.section-1 .left_leaf {
  position: absolute;
  top: 5%;
  left: -15.5%;
  transform: rotate(170deg);
  animation: rotate 1.5s ease-in-out alternate infinite;
}
.section-1 .right_leaf {
  position: absolute;
  right: -14%;
  bottom: 7%;
  background-color: rgba(0,0,0,0.5);
  transform: rotate(62deg);
  animation: rotate-2 1.5s ease-in-out alternate infinite;
}

.section-1 .note {
  position: absolute;
  top: 28%;
  left: 20%;
  width: 850px;
  height: 460px;
  opacity: 0;
  transition: all 1s;
}
.section-1 .life_log {
  position: relative;
  top: 10%;
  left: 34%;
  font-family: inklipquid;
  font-size: 4.7vw;
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.3s;
}
.section-1 .life_log_under {
  position: absolute;
  top: 100%;
  left: 12%;
}
.section-1 .life_log_box {
  position: absolute;
  top: 50%;
  left: 59%;
  width: 30.5vw;
  height: 16vw;
  padding: 0.8vw;
  background-color: black;
  opacity: 0;
  transform: translateX(100px);
  transition: all 1s;
  transition-delay: 0.7s;
}
.section-1 .life_log_box .text-0 {
  font-size: 1.16vw;
  letter-spacing: -1px;
}
.section-1 .life_log_box .text-1 {
  font-size: 1.16vw;
  letter-spacing: -1px;
  margin-top: 2.1vw;
}
/* --------------------------------------------------- */
footer {
  position: relative;
  height: 19vh;
  background-color: rgb(39, 34, 34);
  color: rgb(101, 101, 101);
}
.text_container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 16px;
  /* padding-top: 0.5vw; */
  line-height: 1.5;
}
.text_container .text_1,
.text_2 {
  display: flex;
}
.text_container .text_1 p {
  padding-right: 1.6vw;
}
.text_container .text_2 p {
  padding-right: 4.9vw;
}
.sns {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.sns a {
  padding-right: 0.4vw;
}
