#container-1 {
  height: 100vh;
  color: white;
  background-color: black;
}
.message {
  display: none;
  position: fixed;
  z-index: 100;
  top: 35%;
  left: 15%;
  width: 100%;
  font-size: 2vw;
  opacity: 0;
}

.message .app {
  position: absolute;
  top: -85%;
  right: 37%;
  width: 23vw;
}

.message .app2 {
  position: absolute;
  top: -50%;
  right: 37%;
  width: 24vw;
}
.message .app3 {
  position: absolute;
  /* top: -70%; */
  top:-120%;
  left:-15%;
  /* right: 37%; */
  z-index: -1;
  width: 100%;
}
.message .app::before {
  content: "";
  width: 10.5vw;
  height: 10.5vw;
  background-color: rgb(38, 14, 128);
}

#show-scene-1 #container-1 .message,
#show-scene-2 #container-2 .message,
#show-scene-3 #container-3 .message {
  display: block;
}
.message button {
  color: white;
  padding: 10px 20px;
  background-color: blue;
  margin-top: 1em;
  border-radius: 50px;
  font-size: 1.7vw;
  font-weight: bold;
  cursor: pointer;
}
