@font-face {
  font-family: WildernessTypeface-Regular;
  src: url("../font/WildernessTypeface-Regular.ttf");
}
@font-face {
  font-family: inklipquid;
  src: url("../font/inklipquid.ttf");
}
html {
  font-size: 1vw;
  overflow-x: hidden;
}
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  color: white;
}
.menu {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  font-family: WildernessTypeface-Regular;
}
.menu h1 a {
  font-size: 3.2rem;
  padding-left: 2em;
  color: inherit;
  text-decoration: none;
}
.menu_content {
  display: flex;
  margin-top: 1.2em;
}
.menu_content li {
  padding-right: 4em;
  font-weight: 500;
}
.menu_content li a {
  text-decoration: none;
  font-size: 3.2rem;
  color: inherit;
}
.menu_content li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* ------------------------------------------------------ */
#container-0 {
  position: relative;
  height: 100vh;
}
section {
  width: 100%;
  height: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: all 9s cubic-bezier(0.075, 0.82, 0, 1.115);
}
.section-0 {
  color: white;
  background-image : linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/Avengers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#represent_title {
  position: relative;
  top: 42%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.main-title {
  font-size: 310px;
  width: 100%;
  font-family: WildernessTypeface-Regular;
  transition: transform 0.5s;
}

.main-title.active {
  animation: magnify 1.4s ease-in-out alternate;
}
@keyframes magnify {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.first-text {
  width: 100%;
  letter-spacing: 3px;
  font-size: 30px;
  margin-bottom: 35px;
}
.second-text {
  letter-spacing: 3px;
  font-size: 24px;
  text-align: center;
}

.first-text.active {
  animation: appear 1s ease-in-out alternate;
}
.second-text.active {
  animation: appear 2s ease-in-out alternate;
}
/* ----------------------------- */
.section-1 {
  color: white;
  background-image : linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../images/InterStellar.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1-content {
  position: absolute;
  top: 25%;
  left: 10%;
}
.section-1-text {
  font-size: 80px;
  /* letter-spacing: 2px; */
  font-family: inklipquid;
}
.section-1-text.active {
  animation: appear 1s ease-in-out alternate;
}
.section-1-text2 {
  font-size: 24px;
  padding-top:20px;
  letter-spacing: 2px;
  padding-left: 10px;
}
.section-1-text2.active {
  animation: appear 1.4s ease-in-out alternate;
}
/* ----------------------------- */
.section-2 {
  color: white;
  background-image : linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url("../images/Thor.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-2-container {
  width: 100%;
}
.section-2-content {
  position: absolute;
  top: 32%;
  left: 10%;
}
.section-2-text {
  font-size: 80px;
  font-family: inklipquid;
}
.section-2-text.active {
  animation: appear 1s ease-in-out alternate;
}
.section-2-text2 {
  font-size: 24px;
  letter-spacing: 2px;
  padding-top: 20px;
  padding-left: 7px;
}
.section-2-text2.active {
  animation: appear 1.4s ease-in-out alternate;
}
.showing {
  z-index: 1;
  opacity: 1;
  transform: none;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* ---------------------------------------------- */
#container-2 {
  height: 100vh;
  background-color: black;
}
.subMenu{
  color: white;
  position: absolute;
  left: 50%;
  top:50%;
  font-size: 5vw;
  transform: translate(-50%,-50%);
}
.box_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box_container .box {
  position: relative;
  padding: 25px;
  cursor: pointer;
}
.box_container .box .box_text {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10.5em;
}
.box_container .box .box_img {
  width: 400px;
  transition: all 0.7s ease-in-out;
}
.box_container .box .box_img:hover {
  transform: scale(1.6);
}
/* --------------------------------------- */
footer {
  position: relative;
  height: 19vh;
  background-color: rgb(39, 34, 34);
  color: rgb(101, 101, 101);
}
.text_container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}
.text_container .text_1,
.text_2 {
  display: flex;
  padding-top: 3px;
}
.text_container .text_1 p {
  padding-right: 1.6vw;
  padding-bottom: 2px;
}
.text_container .text_2 p {
  padding-right: 4.9vw;
  padding-bottom: 7px;

}
.sns {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.sns a {
  padding-right: 0.4vw;
}
